In [2]:
# Ok so we need to finish renaming the assemblies.
# I completely missed the renaming key table.
# downloaded it here, it is 3 columns and will be used to create a lookup dictionary
import pandas
import numpy as np

In [5]:
scheme_key = pandas.read_csv('LymeSeq_SampleTrack-RenamingSchemeKey.csv')
scheme_key.shape

(387, 11)

In [6]:
scheme_key

,Original,Rename_A,Unnamed: 2,Rename_A1,Unnamed: 4,Unnamed: 5,Rename_A2,Unnamed: 7,Unnamed: 8,Rename_A3,Unnamed: 10
0,N2,UM1,NaN,N2,UM1a,NaN,N2,UM1,NaN,N2,UM1
1,N4,UM2,NaN,NaN,UM1b,NaN,N4,UM2,NaN,N4,UM2
2,N7,UM3,NaN,N4,UM2a,NaN,N7,UM3,NaN,N7,UM3
3,N9,UM4,NaN,NaN,UM2b,NaN,N9,UM4,NaN,N9,UM4
4,N11,UM5,NaN,N7,UM3a,NaN,N11,UM5,NaN,N11,UM5
...,...,...,...,...,...,...,...,...,...,...,...
382,NaN,NaN,NaN,MC140,UW361,NaN,NaN,NaN,NaN,MC140,UW380
383,NaN,NaN,NaN,MC143,UW362,NaN,NaN,NaN,NaN,MC143,UW381
384,NaN,NaN,NaN,MC145,UW363,NaN,NaN,NaN,NaN,MC145,UW382
385,NaN,NaN,NaN,MC148,UW364,NaN,NaN,NaN,NaN,MC148,UW383
386,NaN,NaN,NaN,MC149,UW365,NaN,NaN,NaN,NaN,MC149,UW384

In [152]:
final_scheme_key = scheme_key[['Rename_A3', 'Unnamed: 10']]
final_scheme_key = final_scheme_key.rename(columns={'Rename_A3': 'Original', 'Unnamed: 10': 'Renamed'})
#final_scheme_key.to_csv('final_scheme_key_v1.csv', index=False)

In [112]:
metadata = pandas.read_csv('longread_metadata_v4.csv')
print(metadata.head())

           Isolate MLST  RST_Type   Source Origin Location skin/blood_pairs  \
0  5A18NP1-JBb08-A    1       NaN  culture     US       NY              NaN
1           UNY147   34       3.0      NaN     US       NY              NaN
2  5A18NP1-JBb08-C    1       NaN  culture     US       NY              NaN
3  5A18NP1-JBb08-B    1       NaN  culture     US       NY              NaN
4  5A18NP1-JBb08-E    1       NaN  culture     US       NY              NaN

  Disseminated    method OspC_Type  AT_type
0          NaN  nanopore         A      AT1
1            L  illumina         J  unknown
2          NaN  nanopore         A      AT1
3          NaN  nanopore         A      AT1
4          NaN  nanopore         A      AT1

In [143]:
list_of_countries = metadata['Origin'].unique()
list_of_locations = metadata['Location'].unique()
list_of_countries = np.delete(list_of_countries, 2)
list_of_locations = np.delete(list_of_locations, 3)
print(*enumerate(list_of_countries))
print(*enumerate(list_of_locations))
list_of_locations = np.append(list_of_locations, ['MA', 'SI'])

(0, 'US') (1, 'EU') (2, 'NY')
(0, 'NY') (1, 'WI') (2, 'Slovenia') (3, 'RI') (4, 'CT') (5, 'Nantucket')

In [131]:
list_of_names = final_scheme_key['Renamed']
#print(list_of_names)
list_of_assemblies = metadata['Isolate']
#print(list_of_assemblies)

for asm in list_of_assemblies:
    if "_" in asm:
        print(asm)

BG001_C7
EU57_B190413
N40_HP
BL082_H1
BL091_B31E2_erpP
EU51_B192411
EU14_B89613

In [144]:
dirty_names = []
import re
highest_ids = {}

for name in list_of_assemblies:
    if not any(location in name for location in list_of_locations):
        dirty_names.append(name)
for location in list_of_locations:
    max_id = 0
    for name in list_of_assemblies:
        #print(name)
        if location not in name:
            continue
        else:
            id_number = name[3:]
            #print(name,location,id_number)
            if id_number.isnumeric():
                id_number = int(id_number)
            else:
                id_number = re.sub(r'\D', '', id_number)
                id_number = int(id_number)
            if id_number > max_id:
                max_id = id_number
        highest_ids[location] = max_id

print(highest_ids)

{'NY': 218, 'WI': 283, 'RI': 219, 'CT': 121, 'MA': 127, 'SI': 323}

In [145]:
metadata[metadata['Location'] == 'Nantucket']

,Isolate,MLST,RST_Type,Source,Origin,Location,skin/blood_pairs,Disseminated,method,OspC_Type,AT_type,newname
133,UMA3,3,2.0,NaN,US,Nantucket,NaN,L,illumina,K,AT11,UMA3
206,UMA14,1,1.0,NaN,US,Nantucket,NaN,L,illumina,A,AT1,UMA14
274,UMA5,36,2.0,NaN,US,Nantucket,NaN,L,illumina,N,AT13,UMA5
277,UMA10,797,1.0,NaN,US,Nantucket,NaN,L,illumina,B,AT2,UMA10
281,UMA1,3,2.0,NaN,US,Nantucket,NaN,L,illumina,K,AT11,UMA1
293,UMA7,36,2.0,NaN,US,Nantucket,NaN,L,illumina,N,AT13,UMA7
300,UMA15,3,2.0,NaN,US,Nantucket,NaN,L,illumina,K,AT11,UMA15
308,UMA4,3,2.0,NaN,US,Nantucket,NaN,L,illumina,K,AT11,UMA4
323,UMA16,59,1.0,NaN,US,Nantucket,NaN,L,illumina,B,AT2,UMA16
329,UMA127,11,3.0,NaN,US,Nantucket,NaN,L,illumina,C,unknown,UMA127
335,UMA9,1,1.0,NaN,US,Nantucket,NaN,L,illumina,A,unknown,UMA9
337,UMA11,38,3.0,NaN,US,Nantucket,NaN,L,illumina,D,unknown,UMA11
339,UMA12,1,1.0,NaN,US,Nantucket,NaN,L,illumina,A,AT1,UMA12
346,UMA8,1,1.0,NaN,US,Nantucket,NaN,D,illumina,A,AT1,UMA8
348,UMA13,59,1.0,NaN,US,Nantucket,NaN,L,illumina,B,unknown,UMA13
349,UMA2,8,2.0,NaN,US,Nantucket,NaN,L,illumina,F,AT6,UMA2

In [146]:

metadata[metadata['Isolate'] == 'UNY218']

,Isolate,MLST,RST_Type,Source,Origin,Location,skin/blood_pairs,Disseminated,method,OspC_Type,AT_type,newname
8,UNY218,37,3.0,NaN,US,NY,NaN,L,illumina,T,AT14,

In [147]:

metadata[metadata['Isolate'] == 'UWI283']

,Isolate,MLST,RST_Type,Source,Origin,Location,skin/blood_pairs,Disseminated,method,OspC_Type,AT_type,newname
84,UWI283,221,3.0,NaN,US,WI,NaN,L,illumina,O,Bbis,

In [149]:
metadata[metadata['Isolate'] == 'ESI323']

,Isolate,MLST,RST_Type,Source,Origin,Location,skin/blood_pairs,Disseminated,method,OspC_Type,AT_type,newname
26,ESI323,799,3.0,NaN,EU,Slovenia,NaN,NaN,illumina,L,Bbis,ESI323

In [148]:
location_counts = metadata['Location'].value_counts()
print(location_counts)

NY           109
RI           102
WI            66
Slovenia      36
CT            36
Nantucket     16
Name: Location, dtype: int64

In [153]:
metadata['newname'] = metadata['Isolate'].apply(lambda x: scheme_key[x] if x in dirty_names else '')
metadata[metadata['newname'] != '']

KeyError: '5A18NP1-JBb08-A'

In [151]:
print(*dirty_names)
print(len(dirty_names))

5A18NP1-JBb08-A 5A18NP1-JBb08-C 5A18NP1-JBb08-B 5A18NP1-JBb08-E B31-K2 B31-5A4 5A18NP1-JBb08-D BG001_C7 EU57_B190413 N40_HP L113 BB-8 XD1 MR616 MC149 K21 B348 K83 B331 BL522 B418 B356 K2 K19 B483 K86 MC104 B477 B500 K22 K1 K64 K56 MR641 K13 MC123 MC105 BL546 B247 BL224 K24 BL515 K84 K6 BL082_H1 K25 HB-19 K73 BL206 K75 K58 K90 MR614 BL091_B31E2_erpP K15 K74 K62 K66 K10 K18 K72 EU51_B192411 K30 K12 K7 K80 K89 K16 EU14_B89613 K17 K70 K57 K76 K3 K71 K60 K82 K11 K59 K69
80