In [7]:
import pandas as pd

In [8]:
def matching(r):
    subset = plasmid_correspondence[plasmid_correspondence["RST"]==r].copy()
    plasmid_name = []
    plasmid_match = []
    for i in subset.columns.drop(["Isolate", "RST"]):
        plasmid_name.append(i)
        plasmid_match.append(subset[i].sum()/len(subset))

    plasmid_scoring = pd.DataFrame({"Plasmid": plasmid_name, f"RST{r}_Score": plasmid_match})
    return plasmid_scoring

In [9]:
plasmids = pd.read_csv("output/plasmid_calls_V6/plasmid_presence_matrix_v6_2500bp.csv")
plasmids = plasmids.rename(columns={"key": "Isolate"})
plasmids = plasmids.drop(columns=["Sum", "chromosome"])
for i in plasmids.columns.drop("Isolate"):
    plasmids[i] = plasmids[i].apply(lambda z: 0 if z==0 else 1)
plasmids

,Isolate,cp26,cp32-1,cp32-1+5,cp32-10,cp32-11,cp32-12,cp32-13,cp32-2,cp32-3,...,lp28-5,lp28-6,lp28-7,lp28-8,lp28-9,lp36,lp38,lp5,lp54,lp56
0,ESI26,1,1,0,0,0,1,0,0,0,...,0,0,1,0,1,1,0,0,1,0
1,ESI26H,1,1,0,0,0,0,0,0,1,...,0,0,0,0,1,1,0,0,1,0
2,UCT109,1,0,0,0,1,0,0,1,1,...,0,0,0,0,0,1,1,0,1,1
3,UCT109H,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,1,1,0,1,0
4,UCT110,1,0,0,0,1,1,0,1,1,...,1,1,0,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,UWI248P,1,1,0,0,1,1,0,0,1,...,1,0,0,0,0,1,1,0,1,0
94,UWI263,1,1,0,1,1,1,0,1,1,...,1,0,0,0,0,1,1,0,1,0
95,UWI263P,1,0,0,1,1,0,0,0,1,...,1,0,0,0,0,1,1,0,1,0
96,UWI283,1,1,1,0,1,1,0,0,1,...,1,1,0,0,0,1,0,0,1,1
97,UWI283P,1,1,0,0,0,1,0,0,1,...,1,0,0,0,0,1,0,0,1,0

In [10]:
plasmids_short = plasmids[~plasmids['Isolate'].str.endswith(('H', 'P'))].copy()
print(plasmids_short.shape)
plasmids_short.head()

paired_samples = list(plasmids_short["Isolate"])

# ensure dataframes are sorted the same
plasmids_short = plasmids_short.sort_values(by="Isolate")

# reset the index in preparation for dataframe subtraction
plasmids_short = plasmids_short.reset_index(drop=True)
plasmids_short.head()

(49, 39)

,Isolate,cp26,cp32-1,cp32-1+5,cp32-10,cp32-11,cp32-12,cp32-13,cp32-2,cp32-3,...,lp28-5,lp28-6,lp28-7,lp28-8,lp28-9,lp36,lp38,lp5,lp54,lp56
0,ESI26,1,1,0,0,0,1,0,0,0,...,0,0,1,0,1,1,0,0,1,0
1,UCT109,1,0,0,0,1,0,0,1,1,...,0,0,0,0,0,1,1,0,1,1
2,UCT110,1,0,0,0,1,1,0,1,1,...,1,1,0,0,0,1,1,0,1,0
3,UCT113,1,1,0,1,1,1,0,0,1,...,1,1,0,0,0,1,1,0,1,0
4,UCT29,1,1,0,0,1,1,0,1,1,...,0,0,0,0,0,1,1,0,1,1

In [11]:
plasmids_long = plasmids[(plasmids["Isolate"].str.endswith("H"))|(plasmids["Isolate"].str.endswith("P"))].copy()
print(plasmids_long.shape)
plasmids_long.head()
plasmids_long['temp'] = plasmids_long['Isolate'].str.slice(stop=-1)
plasmids_long = plasmids_long[plasmids_long["temp"].isin(paired_samples)]

# ensure dataframes are sorted the same
plasmids_long = plasmids_long.sort_values(by="temp")
plasmids_long = plasmids_long.drop(columns="temp")

# reset the index in preparation for dataframe subtraction
plasmids_long = plasmids_long.reset_index(drop=True)
print(plasmids_long.shape)
plasmids_long.head()

(49, 39)
(49, 39)

,Isolate,cp26,cp32-1,cp32-1+5,cp32-10,cp32-11,cp32-12,cp32-13,cp32-2,cp32-3,...,lp28-5,lp28-6,lp28-7,lp28-8,lp28-9,lp36,lp38,lp5,lp54,lp56
0,ESI26H,1,1,0,0,0,0,0,0,1,...,0,0,0,0,1,1,0,0,1,0
1,UCT109H,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,1,1,0,1,0
2,UCT110H,1,0,0,0,1,1,0,1,1,...,1,1,0,0,0,1,1,0,1,0
3,UCT113H,1,0,0,0,1,1,0,0,0,...,1,1,0,0,0,1,1,0,1,0
4,UCT29H,1,1,0,1,1,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0

In [12]:
# Initialize a new dataframe to store the results
plasmid_correspondence = pd.DataFrame(index=plasmids_long.index, columns=plasmids_long.columns.drop("Isolate"))

# Iterate through each cell to apply the conditions
for column in plasmid_correspondence.columns:
    plasmid_correspondence[column] = (
        plasmids_long[column].astype(str) + plasmids_short[column].astype(str)
    ).map({
        '10': 0,
        '01': 0,
        '11': 1,
        '00': 1
    })

plasmid_correspondence = pd.concat([plasmids_long[["Isolate"]], plasmid_correspondence], axis=1)
rst = metadata[["Isolate", "RST"]]
plasmid_correspondence = rst.merge(plasmid_correspondence, on="Isolate", how="right")

NameError: name 'metadata' is not defined

In [ ]:
plasmid_matching_scores = matching(1).merge(matching(2), on="Plasmid", how="left").merge(matching(3),on="Plasmid", how="left").set_index("Plasmid")
print(f"RST1 vs RST2: {stats.ttest_rel(plasmid_matching_scores['RST1_Score'], plasmid_matching_scores['RST2_Score'])}\nRST2 vs RST3:{stats.ttest_rel(plasmid_matching_scores['RST2_Score'], plasmid_matching_scores['RST3_Score'])}\nRST1 vs RST3:{stats.ttest_rel(plasmid_matching_scores['RST1_Score'], plasmid_matching_scores['RST3_Score'])}")
fig, ax = plt.subplots(figsize=(5,10))
sns.heatmap(plasmid_matching_scores, cmap=sns.light_palette("indigo", as_cmap=True), ax=ax)
ax.set_title("Plasmid Correspondence Scores")

In [6]:
# Initialize a new dataframe to store the results
plasmid_correspondence = pd.DataFrame(index=plasmids_long.index, columns=plasmids_long.columns.drop("Isolate"))

# Iterate through each cell to apply the conditions
for column in plasmid_correspondence.columns:
    plasmid_correspondence[column] = (
        plasmids_long[column].astype(str) + plasmids_short[column].astype(str)
    ).map({
        '10': 'Long-Read Only',
        '01': 'Short-Read Only',
        '11': 'Present in Both',
        '00': 'Absent in Both'
    })

plasmid_correspondence = pd.concat([plasmids_long[["Isolate"]], plasmid_correspondence], axis=1)
plasmid_correspondence.to_csv("output/plasmid_calls_V6/plasmid_correspondence_v6_2500bp.csv",
                index=False)
plasmid_correspondence.head()

NameError: name 'pd' is not defined